.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 30px;
  font-size: 22px;
}
.settings__setting span {
  position: absolute;
  left: 55px;
}

.settings__setting .settings__setting-column:last-child {
  position: absolute;
  right: 0px;
  color: var(--main-grey);
}

.settings__setting-bgm {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  width: 100%;
  height: 20px;
  padding: 60px 0px;
  transform: translateY(-60px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.settings__setting-bgm:hover {
  opacity: 1;
}
