.ta {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.ta__title {
  font-family: "Balsamiq Sans", cursive;
  font-size: 25px;
  margin-bottom: 25px;
}
.ta__infos {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.ta__info {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ta__img {
  width: 100px;
  height: 145px;
  border-radius: 10px;
  margin-bottom: 10px;
}
